<div class="container">
  <div class="container-users">
    <div class="header">
      <div class="profile">
        <div class="avatar">
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/a9475211889067.562541caf0859.png"
            alt="avatar">
        </div>
        <div class="nickname">NickName</div>
      </div>
      <div class="search-container">
        <div class="search">
          <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18px" height="18px">
            <path
              d="M 9 2 C 5.1458514 2 2 5.1458514 2 9 C 2 12.854149 5.1458514 16 9 16 C 10.747998 16 12.345009 15.348024 13.574219 14.28125 L 14 14.707031 L 14 16 L 20 22 L 22 20 L 16 14 L 14.707031 14 L 14.28125 13.574219 C 15.348024 12.345009 16 10.747998 16 9 C 16 5.1458514 12.854149 2 9 2 z M 9 4 C 11.773268 4 14 6.2267316 14 9 C 14 11.773268 11.773268 14 9 14 C 6.2267316 14 4 11.773268 4 9 C 4 6.2267316 6.2267316 4 9 4 z" />
          </svg>
          <input type="text" class="search-input" placeholder="Search" [(ngModel)]="search">
        </div>
      </div>
    </div>
    <div class="list-users">
      <h3 [routerLink]="['/']">Chats</h3>
      <ng-container *ngFor="let chat of chats | searchChat: search">
        <div class="user-chat" [routerLink]="['/chat', chat.id]" [routerLinkActive]="'is-active'">
          <div class="avatar">
            <img src="{{ chat.user.avatarUrl }}" alt="avatar">
          </div>
          <div class="user">
            <div class="name">{{ chat.user.username }}</div>
            <div class="last-message">{{ chat.lastMessage | sliceText }}</div>
          </div>
          <div class="date">
            {{ chat.lastTimestamp | date:'mediumDate' }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
